@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

body {
  background: #fafafa;
}

.container {
  background: gainsboro;

  position: relative;

  max-width: 600px;
  min-height: 100vh;
  margin: auto;
  padding: 1rem 1rem;
}

.carousel-viewport {
  position: relative;
  margin-bottom: 1rem;
}

.carousel-UI {
  position: absolute;

  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
  opacity: 0;
  top: calc(50% - 20px);
  cursor: pointer;
  transition: opacity 100ms;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-UI > i {
  transform: scale(2);
}

.carousel-viewport:hover .carousel-UI {
  opacity: 0.7;
  transition: opacity 200ms;
}

.carousel-UI-left {
  left: 5px;
  z-index: 998;
}

.carousel-UI-right {
  right: 5px;
  z-index: 999;
}
